body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.header {
  background-color: #026aa7;
}

.header-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.header-ellipsis {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.header-left-item {
  display: flex;
  column-gap: 20px;
}

.header-right-item {
  display: flex;
  column-gap: 20px;
}

.list-container {
  display: flex;
  column-gap: 10px;
}

.list {
  width: 300px;
  background-color: #cecece;
  padding: 10px;
}

.list-title {
  display: flex;
}

.card {
  padding: 10px;
  background-color: #ffffff;
}
